<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.css">
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<div id="app">
  <div class="container">
    <loading :active.sync="isLoading"></loading>
    <!--    <div class="cards">-->
    <!--      <ul class="card-columns">-->
    <!--        <item-card :title="item.title" :category="item.category" :content="item.content"-->
    <!--                   :image-url="item.imageUrl" :origin_price="item.origin_price" :price="item.price"-->
    <!--                   v-for="(item, index) in products"></item-card>-->
    <!--      </ul>-->
    <!--    </div>-->
  </div>

  <validation-observer v-slot="{ invalid }">
    <form v-on:submit.prevent="ClickMe">
      <validation-provider rules="required" v-slot="{ errors, classes, passed }">
        <label for="username">Name</label>
        <input id="username" type="text" name="Name" v-model="username" class="form-control" :class="classes">
        <span class="invalid-feedback">{{ errors[0] }}</span>
        <span v-if="passed">檢查通過</span>
      </validation-provider>

      <validation-provider rules="email|required" v-slot="{ errors, classes, passed }">
        <label for="email">Email</label>
        <input id="email" type="email" name="Email" v-model="email" class="form-control" :class="classes">
        <span class="invalid-feedback">{{ errors[0] }}</span>
        <span v-if="passed">檢查通過</span>
      </validation-provider>

      <validation-provider rules="min:9|required" v-slot="{errors, classes, passed}">
        <label for="tel">Tel</label>
        <input id="tel" type="tel" name="Tel" v-model="tel" class="form-control" :class="classes">
        <span class="invalid-feedback">{{ errors[0] }}</span>
        <span v-if="passed">檢查通過</span>
      </validation-provider>

      <validation-provider rules="required" v-slot="{errors, classes, passed}">
        <label for="address">Address</label>
        <input id="address" type="text" name="Address" v-model="address" class="form-control" :class="classes">
        <span class="invalid-feedback">{{ errors[0] }}</span>
        <span v-if="passed">檢查通過</span>
      </validation-provider>

      <validation-provider rules="required" v-slot="{errors, classes, passed}">
        <label for="payway">Payment Method</label>
        <select id="payway" name="Payment Method" v-model="payway" class="form-control" :class="classes">
          <option disabled value="">Please select one</option>
          <option>WebATM</option>
          <option>ATM</option>
          <option>Barcode</option>
          <option>Credit</option>
          <option>ApplePay</option>
          <option>GooglePay</option>
        </select>
        <span class="invalid-feedback">{{ errors[0] }}</span>
        <span v-if="passed">檢查通過</span>
      </validation-provider>

      <validation-provider>
        <label for="message">Message</label>
        <textarea id="message" name="Message" v-model="message" cols="30" row="3" class="form-control">
        </textarea>
      </validation-provider>

      <button type="submit" :disabled="invalid" class="btn btn-primary">Click</button>
    </form>
  </validation-observer>
</div>
<script type="module">
    Vue.component('loading', VueLoading);
    Vue.component('validation-observer', VeeValidate.ValidationObserver);
    Vue.component('validation-provider', VeeValidate.ValidationProvider);

    VeeValidate.configure({
        classes: {
            valid: 'is-valid',
            invalid: 'is-invalid',
        }
    });

    new Vue({
        el: '#app',
        data: {
            uuid: 'de4aaa47-9e6a-44fb-be33-178ff34efbdc',
            isLoading: true,
            products: [],
            email: '',
            username: '',
            tel: '',
            address: '',
            payway: '',
            message: ''
        },
        created() {
            axios.get(`https://course-ec-api.hexschool.io/api/${this.uuid}/ec/products`)
                .then(res => {
                    this.isLoading = false;
                    this.products = res.data.data;
                }).catch(err => {
                console.log(err);
            })
        },
        mounted() {

        },
        methods: {}
    })
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>

<script src="./js/itemCard.js"></script>
</body>
</html>
