<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.css">
</head>
<body>
<div id="app" class="container">
  <loading :active.sync="isLoading"></loading>
  <div class="row mt-4">
    <div v-for="(item, index) in products" :key="item.id" class="col-md-4 mb-4">
      <div class="card border-0 shadow-sm">
        <div style="height: 150px; background-size: cover; background-position: center"
             :style="{backgroundImage: `url(${item.imageUrl})`}"></div>
        <div class="card-body">
          <span class="badge badge-secondary float-right ml-2">{{ item.category }}</span>
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.content}}</p>
          <div class="d-flex justify-content-between align-items-baseline">
            <div v-if="!item.price" class="h5">
              {{ item.origin_price }} 元
            </div>
            <div v-else>
              <del class="h6">原價 {{ item.origin_price }} 元</del>
              <div class="h5">
                現在只要 {{ item.price }} 元
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex">
          <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="getProductDetail(item.id)">
            查看更多
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm ml-auto"
                  :disabled="status.loadingItem === item.id" v-on:click="addToCart(item)">
            <i v-if="status.loadingItem === item.id" class="spinner-grow spinner-grow-sm"></i>
            加到購物車
          </button>
        </div>
      </div>
    </div>
  </div>

  <div>{{cart}}</div>
  <payment-info></payment-info>
  <product-modal :product="product" v-on:add-to-cart="addToCart"></product-modal>
</div>
<script type="module">
    Vue.component('loading', VueLoading);
    Vue.component('validation-observer', VeeValidate.ValidationObserver);
    Vue.component('validation-provider', VeeValidate.ValidationProvider);

    VeeValidate.configure({
        classes: {
            valid: 'is-valid',
            invalid: 'is-invalid',
        }
    });

    new Vue({
        el: '#app',
        data: {
            uuid: 'de4aaa47-9e6a-44fb-be33-178ff34efbdc',
            isLoading: true,
            products: [],
            product: {},
            cart: []
        },
        created() {
            axios.get(`https://course-ec-api.hexschool.io/api/${this.uuid}/ec/products`)
                .then(res => {
                    this.isLoading = false;
                    this.products = res.data.data;
                }).catch(err => {
                console.log(err);
            })
        },
        mounted() {

        },
        methods: {
            getProductDetail(productId) {
                this.isLoading = true;
                axios.get(`https://course-ec-api.hexschool.io/api/${this.uuid}/ec/product/${productId}`)
                    .then(res => {
                        this.isLoading = false;
                        this.product = res.data.data;
                        $('#productModal').modal('show');
                    }).catch(err => {
                    console.log(err);
                })
            },
            addToCart(product, quantity) {
                let cloneProduct = JSON.parse(JSON.stringify(product));
                cloneProduct.num = quantity;
                this.cart.push(cloneProduct);
            }
        }
    })
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>

<script src="js/paymentInfo.js"></script>
<script src="js/productModal.js"></script>
</body>
</html>
