.container {
    width: 60vw;
    margin: 0 auto;
}

.card-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
    height: 120vh;
}

.card {
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 2px solid gray;
    border-radius: .25rem;
}

.card .item-img {
    border-top-left-radius: calc(.25rem - 2px);
    border-top-right-radius: calc(.25rem - 2px);
    width: 20vw;
}

.card .item-des {
    padding: 1.25rem;
}

ul {
    list-style: none;
    padding-left: 0;
}
