<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div id="app">
  <div class="container">
    <form class="form-signin text-center" v-on:submit.prevent="login">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" v-model="user.email" placeholder="Email Address"
               required autofocus>
      </div>

      <div class="form-group">
        <label for="inputPwd" class="sr-only">Password</label>
        <input type="password" id="inputPwd" class="form-control" v-model="user.password" placeholder="Password"
               required>
      </div>
      <span class="text-danger">{{msg}}</span>

      <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/login.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            user: {
                email: '',
                password: ''
            },
            msg: ''
        },
        methods: {
            login() {
                let headers = {
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                };

                axios({
                        url: "https://course-ec-api.hexschool.io/api/auth/login",
                        method: "post",
                        headers: headers,
                        data: this.user
                    }
                ).then(res => {
                    document.cookie = `token=${res.data.token}; max-age=1800; path=/`;
                    document.cookie = `uuid=${res.data.uuid}; max-age=1800; path=/`;
                    window.location = "../products.html";
                }).catch(err => {
                    this.msg = err.response.data.message;
                    console.log(err);
                });
            }
        }
    })
</script>
</body>
</html>
